<nav>
  <ul>
    <a href="/index"><li id="home">Home</li></a>
    <a href="/search"><li id="search">Search</li></a>
    <a href="/create"><li id="create">Create</li></a>
  </ul>
  <form action="/logOut" method ="post" id="logoutForm">
    <button type="submit" id="logoutButton">Log Out</button>
  </form>
</nav>