<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  {{> nav}}
 
    <h1 class="right">Search Celebrities</h1>
    <div class="right">
      <div class="star-container">
        <form class="star-input-container" action="/searchcelebrities" method="post">
          Search by Name:<br>
          <input class="input-smaller" type="text" name="name" placeholder="insert first name">
          <br>

          Search by Surname:<br>
          <input class="input-smaller" type="text" name="surname" placeholder="insert surname">
          <br>

          Search by Country:<br>
          <input class="input-smaller" type="text" name="country" placeholder="insert country">
          <br>

          <input class="small-button" type="submit" value="submit">
        </form>
      </div>
    </div>
    <br><br>
  
  {{#each showcelebrity}}
    <div class="container">
      <h2>{{this.firstname}} {{this.lastname}}</h2>
      <h3>{{this.nationality}}</h3>
    </div>
  {{/each}}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</body>
</html>